[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Redshift
Comment=Blue filter
Exec=sh -c "sleep 10; /bin/redshift 59.93863: 30.31413"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

